.limit {

  
text-align:center;
 
white-space: break-space;
margin-left: auto;
margin-right: auto;

}
.movie-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  /* .movie-pic img {
    width: 100%;
    height: 50px;
    object-fit: cover;
  }  */

  .pic {
    width: 100px; /* Adjust the size of the small square as needed */
   height: 100px;
     overflow: hidden;
     
     }
 
table {
   
    width: 100%;
    height: 200px;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}