.popup-container {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-container1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movie-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
   .movie-pic {
    width: 100px; /* Adjust the size of the small square as needed */
    height: px;
      overflow: hidden;
     
     }
 
   .movie-pic img {
  
 
    
  }    
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .limits {
 
    text-align:center;
    width:75%;
    white-space: break-space;
    margin-left: auto;
    margin-right: auto;
    }


  .AddCarContainer {
    background-color:rgb(157, 167, 170); 
   margin: auto;
 

  border-radius: 25px;
  border: 5px solid gray;
  padding: 20px;
  width: 70%;
  
  }
 
/* .modal-image img {
  max-width:20px;
  height: auto;
  display: block;
  margin: 0 auto;
} */

progress {
  width: 100%;
  height: 20px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #4CAF50;
  border-radius: 5px;
}